PORT=7000
CORS_ORIGIN=http://localhost:5173
JWT_SECRET_KEY=replace_me
CLOUD_NAME=replace_me
CLOUD_API_KEY=replace_me
CLOUD_API_SECRET=replace_me
CLOUDINARY_URL=cloudinary://replace_me
INTERNAL_SERVICE_KEY=replace_me
RABBITMQ_URL=amqp://localhost
PAYMENT_QUEUE=payment_queue
RAZORPAY_KEY_ID=replace_me
RAZORPAY_KEY_SECRET=replace_me
STRIPE_SECRET_KEY=replace_me
STRIPE_KEY_ID=replace_me
RESTAURANT_SERVICE=http://localhost:3000
FRONTEND_URL=http://localhost:5173
