PORT=5001
CORS_ORIGIN=http://localhost:5173
JWT_SECRET_KEY=replace_me
MONGODB_URI=mongodb://localhost:27017/BhookBuster
UTILS_SERVICE_URL=http://localhost:7000
INTERNAL_SERVICE_KEY=replace_me
REALTIME_SERVICE=http://localhost:4000
RESTAURANT_SERVICE=http://localhost:3000
RABBITMQ_URL=amqp://localhost
RIDER_QUEUE=rider_queue
ORDER_READY_QUEUE=order_ready_queue
